@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "epyval";
  src: url("/fonts/epyval.regular.ttf");
}

body {
  background-color: #738BBB;
}

p, li, div {
  font-family: "epyval";
}

.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}